.gradient-text{
  background: linear-gradient(to right, #7E90FE, #9873FF);
  -webkit-background-clip:text;
  -webkit-text-fill-color:transparent;
}

.background-image{
  background-image: url('../../assets/images/user.png');
  background-repeat: no-repeat;
  background-size: cover;
  border:none;

  
}